@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  scrollbar-width: thin;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
  background-color: black;
  color: white;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 1rem;
}

.active {
  background-color: #2d3748;
  color: white;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
}

.disabled {
  color: #a0aec0;
  cursor: not-allowed;
}

.previous,
.next {
  background-color: #edf2f7;
  color: #2d3748;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
}
